* {
  box-sizing: border-box;
}

@font-face {
  font-family: "lato_light";
  src: url("../fonts/lato_light.woff") format("woff");
  src: url("../fonts/lato_light.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Lato-Black";
  src: url("../fonts/Lato-Black.woff") format("woff");
  src: url("../fonts/Lato-Black.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

body {
  font-family: "lato_light", sans-serif;
  background-color: #E5E5E5;
  color: #4B5157;
}

.container {
  max-width: 1140px;
  margin: auto;
}

img {
  max-width: 100%;
}

a {
  cursor: pointer;
}

button {
  cursor: pointer;
  outline: none;
}

input, textarea {
  color: #4B5157;
}

input::placeholder, textarea::placeholder {
  color: #939699;
}

input:-ms-input-placeholder, textarea:-ms-input-placeholder {
  color: #939699;
}

input::-webkit-input-placeholder, textarea::-webkit-input-placeholder {
  color: #939699;
}

input::-moz-placeholder, textarea::-moz-placeholder {
  color: #939699;
  opacity: 1;
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type="checkbox"],
[type="radio"] {
  box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.navbar {
  background-color: #262D33;
}

.navbar-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 14px;
  padding-bottom: 15px;
}

.navbar-box__menu-button {
  display: none;
}

.navbar-menu {
  display: contents;
}

.navbar__button {
  min-height: 39px;
  background-color: #656B70;
  color: #fff;
  border-radius: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  padding: 9px 66px;
  border: none;
  color: #fff;
  text-align: center;
}

.navbar-menu__block {
  list-style-type: none;
  display: flex;
  position: relative;
  bottom: 1px;
  right: 1px;
  color: #fff;
  padding-left: 0;
  margin: 0;
}

.navbar-menu__item {
  margin: 0 16px;
}

.navbar-menu__item:first-child {
  margin-left: 0px;
}

.navbar-menu__item:last-child {
  margin-right: 0px;
}

.navbar-menu__link {
  color: inherit;
  text-decoration: none;
  font-size: 14px;
  line-height: 20px;
  font-weight: 900;
}

.navbar-menu__item--mobile--visible {
  display: none;
}

.bgdoor {
  background-color: #262D33;
  height: 545px;
  z-index: -1;
  width: 100%;
  display: block;
  position: absolute;
}

.logo {
  width: 163px;
}

.navigator {
  position: relative;
  padding: 28px 0;
  z-index: 99;
}

.navigator__block {
  display: flex;
  justify-content: space-between;
  height: 570px;
  width: 100%;
}

.content__item {
  display: none;
  position: absolute;
  width: 877px;
  height: 570px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  overflow: hidden;
}

.content__item--active {
  display: block;
}

.content__image {
  position: relative;
  background-image: var(--image-src);
  object-fit: cover;
  width: 100%;
  height: 100%;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}

.content__image::after {
  content: '';
  background: rgba(64, 48, 61, 0.35);
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
}

.content__block {
  position: absolute;
  top: 0;
  padding-top: 55px;
  padding-left: 55px;
}

.content__avatar {
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.content__author {
  display: flex;
  align-items: center;
}

.content__person {
  display: flex;
  flex-direction: column;
  color: #fff;
  margin-left: 10px;
}

.content__name {
  font-size: 14px;
  line-height: 20px;
  font-weight: 400;
  margin-bottom: 2px;
}

.content__vocation {
  font-size: 12px;
  line-height: 15px;
  font-weight: 400;
  opacity: 0.4;
}

.content__info {
  margin-top: 141px;
}

.content__topic {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  color: #4592FF;
}

.content__title {
  width: 79%;
  font-family: 'Roboto Slab', serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 50px;
  color: #fff;
  margin-top: 20px;
  margin-bottom: 60px;
}

.content__button {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-decoration: none;
  color: #fff;
  padding: 13px 20px;
  background-color: #4592FF;
  border-radius: 20px;
  margin-top: 18px;
}

.content__arrow {
  margin-left: 5px;
}

.tabs {
  width: 263px;
  height: 100%;
  background-color: #fff;
  border-top-right-radius: 10px;
  border-bottom-right-radius: 10px;
  z-index: 1;
}

.tabs__text {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 24px;
  margin-top: 21px;
  margin-bottom: 18px;
}

.tabs__text--pt {
  padding-top: 15px;
}

.tabs__item {
  border-top: 1px solid #D9DADB;
  padding: 17px 30px 19px 25px;
  cursor: pointer;
}

.tabs__item--active {
  background-color: #F5F5F5;
}

.tabs__item--recede {
  padding-bottom: 40px;
}

.tabs__item--pb {
  padding-bottom: 32px;
  border-bottom-right-radius: 10px;
}

.tabs__title {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 8px;
}

.tabs__title--blue {
  color: #3BBDC4;
}

.tabs__title--grey {
  color: #6E99AE;
}

.tabs__title--purple {
  color: #AC8EE3;
}

.tabs__title--orange {
  color: #FFA34D;
}

.tabs__title--green {
  color: #3DC47E;
}

.tabs__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.mobile-tabs {
  display: none;
  background-color: #fff;
  border-radius: 6px;
}

.mobile-tabs__list {
  display: flex;
  flex-direction: column;
  border-top: 1px solid #D9DADB;
  padding: 15px 30px;
}

.mobile-tabs__text {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 14px;
  line-height: 20px;
  text-transform: uppercase;
  letter-spacing: 0.5px;
  padding-left: 24px;
  margin-top: 21px;
  margin-bottom: 18px;
}

.mobile-tabs__text--pt {
  padding-top: 15px;
}

.mobile-tabs__title {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 15px;
  letter-spacing: 0.5px;
  text-transform: uppercase;
  margin-top: 1px;
  margin-bottom: 8px;
}

.mobile-tabs__title--blue {
  color: #3BBDC4;
}

.mobile-tabs__title--grey {
  color: #6E99AE;
}

.mobile-tabs__title--purple {
  color: #AC8EE3;
}

.mobile-tabs__title--orange {
  color: #FFA34D;
}

.mobile-tabs__title--green {
  color: #3DC47E;
}

.mobile-tabs__subtitle {
  font-size: 14px;
  line-height: 20px;
  letter-spacing: 0.1px;
}

.mobile-tabs__button {
  font-family: "Lato-Black", sans-serif;
  font-weight: 900;
  font-size: 12px;
  line-height: 16px;
  text-decoration: none;
  color: #fff;
  padding: 9px 15px;
  background-color: #4592FF;
  border-radius: 20px;
  margin-top: 18px;
  width: 132px;
}

@media (max-width: 1200px) {
  .container {
    max-width: 960px;
  }
  .logo {
    width: 135px;
  }
  .navbar__button {
    padding: 9px 18px;
  }
}

@media (max-width: 992px) {
  .container {
    max-width: 700px;
  }
  .logo {
    width: 100px;
  }
  .bgdoor {
    height: 405px;
  }
  .navbar-menu__item {
    margin-right: 8px;
    margin-left: 8px;
  }
  .navbar-menu__link {
    font-size: 12px;
  }
  .navbar__button {
    font-size: 12px;
    padding: 13px 15px;
  }
  .navigator__block {
    height: 386px;
  }
  .tabs {
    width: 200px;
  }
  .content__item {
    width: 615px;
    height: 386px;
  }
  .content__image {
    background-size: 100% 100%;
  }
  .content__block {
    padding-top: 30px;
    padding-left: 30px;
  }
  .content__avatar {
    width: 35px;
    height: 35px;
  }
  .content__name {
    font-size: 12px;
  }
  .content__vocation {
    font-size: 10px;
  }
  .content__info {
    margin-top: 90px;
  }
  .content__title {
    font-size: 26px;
    line-height: 32px;
    margin-top: 10px;
    margin-bottom: 40px;
  }
  .tabs__text {
    font-size: 10px;
    margin: 5px 0;
    padding-left: 12px;
  }
  .tabs__item {
    padding: 7px 12px;
    height: 71px;
  }
  .tabs__title {
    font-size: 10px;
    margin-bottom: 0;
  }
  .tabs__subtitle {
    font-size: 12px;
  }
}

@media (max-width: 767px) {
  .container {
    max-width: 576px;
    width: 92%;
  }
  .navbar--mobile--fixed {
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    z-index: 100;
  }
  .navbar-box__menu-button {
    display: flex;
    margin-top: 4px;
  }
  .navbar-menu {
    display: none;
    position: fixed;
    left: 0;
    right: 0;
    bottom: 0;
    top: 57px;
    padding-top: 15px;
    text-align: center;
  }
  .navbar-menu--visible {
    display: block;
    background: #262D33;
    overflow-y: scroll;
  }
  .navbar-menu__block--mobile--visible {
    display: block;
  }
  .navbar-menu__link {
    font-size: 16px;
    line-height: 25px;
  }
  .navbar__button--mobile--visible {
    display: block;
    font-size: 16px;
    background-color: transparent;
    color: #4592FF;
    margin: 0 auto;
    margin-top: 10px;
  }
  .menu-button {
    display: flex;
    width: 16px;
    height: 9px;
    padding: 0;
    align-items: center;
    justify-content: space-between;
    flex-direction: column;
    border: none;
    background-color: #262D33;
    cursor: pointer;
  }
  .menu-button__line {
    width: 16px;
    height: 1px;
    background-color: #fff;
  }
  .navigator {
    padding-top: 85px;
  }
  .navigator__block {
    display: none;
  }
  .mobile-tabs {
    display: block;
  }
}

@media (max-width: 480px) {
  .container {
    max-width: 88%;
  }
}
/*# sourceMappingURL=style.css.map */