@media (max-width: 1200px)
  .container
    max-width: 960px
  .logo
    width: 135px
  .navbar
    &__button
      padding: 9px 18px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 100px
  .bgdoor
    height: 405px
  .navbar
    &-menu
      &__item
        margin-right: 8px
        margin-left: 8px
      &__link
        font-size: 12px
    &__button
      font-size: 12px
      padding: 13px 15px
  .navigator
    &__block
      height: 386px
  .tabs
    width: 200px
  .content
    &__item
      width: 615px
      height: 386px
    &__image
      background-size: 100% 100%
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 99
    &-box
      &__menu-button
        display: flex
        margin-top: 4px
    &-menu
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 59px
      padding-top: 15px
      text-align: center

      &--visible
        display: block
        background: $dark
        overflow-y: scroll
      &__block
        &--mobile
          &--visible
            display: block
      &__link
        font-size: 16px
        line-height: 25px
    &__button
      &--mobile
        &--visible
          display: block
          font-size: 16px
          background-color: transparent
          color: $blue
          margin: 0 auto
          margin-top: 10px

  .menu
    &-button
      display: flex
      width: 16px
      height: 9px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $dark
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $light
  .navigator
    &__block
      display: none
    &__mobile
      display: block
// @media ( max-width: 576px)

@media ( max-width: 480px)
  .container
    max-width: 88%

// @media (max-width: 455px)

// @media (max-width: 400px)

// @media ( max-width: 380px)

// @media (hover: hover) and (pointer: fine)
