@media (max-width: 1200px)
  .container
    max-width: 960px
  .logo
    width: 135px
  .navbar
    &__button
      padding: 9px 18px
  .aside
    &__news
      display: flex
    &__block
      margin-left: 20px
    &__topic
      max-width: 140px
      font-size: 12px
    &__image
      width: 50px
      height: 50px
  .articles
    &__grid
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(6, 170px)
    &-two
      grid-area: 1 / 3 / 3 / 4
      &__image
        width: 300px
    &-three
      grid-area: 5 / 1 / 6 / 2
    &-data
      &--margin
        margin-top: 30px
    &-four
      grid-area: 6 / 1 / 7 / 2
    &-five
      grid-area: 3 / 1 / 5 / 3
      &__bg
        width: 630px
      &__image
        width: 630px
      &__title
        font-size: 22px
        line-height: 33px
      &__topic
        margin-top: 110px
      &__author
        margin-top: 40px
    &-six
      grid-area: 5 / 2 / 6 / 3
    &-seven
      grid-area: 6 / 2 / 7 / 3
    &-eight
      grid-area: 5 / 3 / 6 / 4
    &-nine
      grid-area: 3 / 3 / 5 / 4
      &__tegs
        padding: 16px 20px 25px 21px
    &-ten
      grid-area: 6 / 3 / 7 / 4
      &__social
        text-align: center
  .hot
    &-slider
      width: 450px
    &__slider
      &-title
        font-size: 36px
    &__conteiner
      &-two
        width: 450px
    &__box
      &-two
        width: 450px
    &__articles
      width: 210px
      padding: 27px 20px
    &__title
      &-three
        font-size: 15px
    &__text
      &-three
        font-size: 13px
  .news
    &__block
      max-width: 670px
    &__sidebar
      &-subtitle
        font-size: 12px
@media (max-width: 992px)
  .container
    max-width: 700px
  .logo
    width: 100px
  .bgdoor
    height: 405px
  .navbar
    &-menu
      &__item
        margin-right: 8px
        margin-left: 8px
      &__link
        font-size: 12px
    &__button
      font-size: 12px
      padding: 13px 15px
  .navigator
    &__block
      height: 386px
  .tabs
    width: 200px
  .content
    &__item
      width: 615px
      height: 386px
    &__image
      background-size: 100% 100%
    &__block
      padding-top: 30px
      padding-left: 30px
    &__avatar
      width: 35px
      height: 35px
    &__name
      font-size: 12px
    &__vocation
      font-size: 10px
    &__info
      margin-top: 90px
    &__title
      font-size: 26px
      line-height: 32px
      margin-top: 10px
      margin-bottom: 40px
  .tabs
    &__text
      font-size: 10px
      margin: 5px 0
      padding-left: 12px
    &__item
      padding: 7px 12px
      height: 71px
    &__title
      font-size: 10px
      margin-bottom: 0
    &__subtitle
      font-size: 12px
  .aside
    &__container
      display: flex
      flex-wrap: wrap
      justify-content: center
      background: none
    &__news
      width: 350px
      justify-content: center
      background-color: #30363D
      margin-bottom: 15px
      &:nth-child(even)
        border-top-right-radius: 10px
        border-bottom-right-radius: 10px

      &:nth-child(odd)
        border-top-left-radius: 10px
        border-bottom-left-radius: 10px
        border-right: 1px solid #4B5157
    &__block
      border-right: none
      margin-left: 0
  .articles
    &__grid
      grid-template-columns: repeat(2, 1fr)
      grid-template-rows: repeat(8, 170px)
    &-text
      &--short
        -webkit-line-clamp: 2
    &-two
      grid-area: 3 / 2 / 5/ 3
      &__image
        width: 335px
    &-three
      grid-area: 5 / 1 / 6 / 2
    &-data
      &--margin
        margin-top: 30px
    &-four
      grid-area: 6 / 1 / 7 / 2
    &-five
      grid-area: 3 / 1 / 5 / 2
      &__bg
        width: 335px
      &__image
        width: 335px
      &__title
        font-size: 16px
        line-height: 25px
      &__topic
        margin-top: 117px
      &__author
        margin-top: 50px
    &-six
      grid-area: 5 / 2 / 6 / 3
    &-seven
      grid-area: 6 / 2 / 7 / 3
    &-eight
      grid-area: 7 / 2 / 8 / 3
    &-nine
      grid-area: 7 / 1 / 9 / 2
      &__tegs
        padding: 16px 13px 25px 21px
    &-ten
      grid-area: 8 / 2 / 9 / 3
  .parallax
    &-title
      font-size: 33px
      line-height: 45px
  .hot
    &-slider
      width: 100%
      margin-bottom: 30px
    &__slider
      &-holder
        max-width: 700px
      &-title
        font-size: 36px
    &__conteiner
      &-two
        width: 700px
    &__box
      flex-direction: column
      &-two
        width: 100%
    &__articles
      max-width: calc(100% - 10px)
      width: 345px
    &__title
      &-three
        font-size: 16px
    &__text
      &-three
        font-size: 14px
        -webkit-line-clamp: 2
    &__hover
      margin-right: 20px
  .modal
    &__dialog
      &--visible
        padding-left: 35px
        padding-right: 35px
  .news
    &__block
      max-width: 440px
      padding: 0 18px
    &__image
      width: 160px
    &__sidebar
      width: 237px
      &-subtitle
        padding: 0 15px
      &-box
        margin: 0 15px
  .footer
    &__box
      display: grid
      grid-template-columns: repeat(3, 1fr)
      grid-template-rows: repeat(2, 1fr)
      justify-content: center
      max-width: 700px
      width: 100%
    &__navbar
      flex-direction: column
    &__info
      flex-direction: column
    &__text
      margin-bottom: 30px
  .to-top
    bottom: 75px
@media (max-width: 767px)
  .container
    max-width: 576px
    width: 92%
  .navbar
    &--mobile
      &--fixed
        position: fixed
        left: 0
        top: 0
        right: 0
        z-index: 100
    &-box
      &__menu-button
        display: flex
        margin-top: 4px
    &-menu
      display: none
      position: fixed
      left: 0
      right: 0
      bottom: 0
      top: 57px
      padding-top: 15px
      text-align: center

      &--visible
        display: block
        background: $dark
        overflow-y: scroll
      &__block
        &--mobile
          &--visible
            display: block
      &__item
        margin: 0
        align-items: center
      &__link
        font-size: 16px
        line-height: 35px
    &__button
      &--mobile
        &--visible
          display: block
          font-size: 16px
          background-color: transparent
          color: $blue
          margin: 0 auto
          margin-top: 10px
  .menu
    &-button
      display: flex
      width: 16px
      height: 9px
      padding: 0
      align-items: center
      justify-content: space-between
      flex-direction: column
      border: none
      background-color: $dark
      cursor: pointer
      &__line
        width: 16px
        height: 1px
        background-color: $light
  .navigator
    padding-top: 60px
    &__block
      display: none
  .mobile
    &-tabs
      display: block
  .aside
    &__news
      width: 288px
    &__topic
      max-width: 130px
    &__image
      margin-right: 5px
  .articles
    &-text
      -webkit-line-clamp: 2
      &--short
        -webkit-line-clamp: 1
    &__text-one
      -webkit-line-clamp: 4
    &-two
      grid-area: 5 / 1 / 7/ 3
      &__image
        width: 576px
      &__holder
        padding-bottom: 0
      &__title
        width: 235px
        font-size: 22px
        line-height: 31px
    &-three
      grid-area: 7 / 1 / 8 / 3
    &-data
      &--margin
        margin-top: 30px
    &-four
      grid-area: 8 / 1 / 9 / 3
    &__mini-box
      padding: 25px 25px 49px 25px
    &-five
      grid-area: 3 / 1 / 5 / 3
      &__bg
        max-width: 100%
        width: 576px
      &__image
        width: 576px
      &__title
        font-size: 22px
        line-height: 31px
      &__topic
        margin-top: 110px
      &__author
        margin-top: 45px
    &-six
      grid-area: 9 / 1 / 10 / 3
    &-seven
      grid-area: 10 / 1 / 11 / 3
    &-eight
      grid-area: 12 / 1 / 13 / 3
      &__image
        top: 10px
    &-nine
      grid-area: 11 / 1 / 12 / 3
    &-ten
      grid-area: 13 / 1 / 14 / 3
  .parallax
    &-title
      font-size: 25px
      line-height: 40px
    &__button
      font-size: 12px
      line-height: 16px
      padding: 9px 15px
  .hot
    &__articles
      max-width: 273px
    &__hover
      margin-right: 30px
  .news
    &__sidebar
      display: none
    &__container
      width: 100%
    &__block
      width: 100%
      max-width: 100%
      margin-right: 0
    &__image
      width: 275px
    &__info
      width: 39%
  .footer
    &__newsletter
      &-title
        font-size: 34px
    &__box
      grid-template-columns: repeat(2, 1fr)
      max-width: 576px
      width: 100%
  .to-top
    bottom: 60px
  .modal
    &__dialog
      &--visible
        padding-left: 25px
        padding-right: 25px
    &__block
      display: grid
      grid-row-gap: 15px
    &__button
      grid-row: 2
    &__info
      grid-row: 1
@media ( max-width: 626px)
  .aside
    &__news
      width: 100%
      border-radius: 10px
      &:last-child
        &>.aside__block
          border-bottom: none
    &__block
      border-bottom: 1px solid #4B5157
    &__topic
      max-width: 187px
      font-size: 14px
    &__image
      width: 60px
      height: 60px
  .hot
    &__articles
      max-width: 100%
      width: 100%
  .footer
    &__input
      width: 260px
    &__nav
      flex-direction: column
    &__logo
      margin-right: 0
      margin-bottom: 25px
    &-block
      flex-direction: column
      text-align: center
      &__item
        margin-right: 0
        margin-left: 0
        margin-bottom: 15px
        &:last-child
          margin-right: 0
    &__social
      margin-top: 15px
@media ( max-width: 605px)
  .articles
    &__image-one
      width: 232px
      height: 283px
    &__info-one
      display: flex
      flex-direction: column
    &__author
      align-items: flex-end
    &__avatar
      width: 45px
      height: 45px
@media ( max-width: 583px)
  .articles
    &-data
      &--margin
        margin-top: 10px
@media ( max-width: 576px)
  .parallax
    height: 245px
    &-title
      font-size: 20px
      line-height: 30px
  .articles
    &-text
      &--clamp
        -webkit-line-clamp: 2
  .hot
    &__maxi
      &-box
        flex-direction: column
    &__hover
      margin-right: 0
      margin-bottom: 30px
    &__slider
      &-title
        font-size: 28px
  .news
    &__box
      flex-direction: column
      padding: 30px 0 28px
    &__image
      width: 100%
      margin-bottom: 20px
    &__info
      width: 100%
  .footer
    &__group
      flex-direction: column
    &__input
      margin-bottom: 40px
    &__button
      margin-top: 45px
      margin: 0 auto
    &__box
      margin-top: 115px
  .modal
    &__dialog
      &--visible
        min-width: 360px
@media ( max-width: 536px)
  .articles
    &__title-one
      margin-bottom: 30px
      -webkit-line-clamp: 2
    &__text-one
      -webkit-line-clamp: 3
    &__image-one
      display: none
    &__box
      &-one
        padding: 0 35px
    &__text-one
      margin-bottom: 70px
    &__author
      padding: 0 35px
@media (max-width: 503px)
  .articles
    &-text
      &--short
        -webkit-line-clamp: 2
    &-data
      &--mt
        margin-top: 10px
@media ( max-width: 480px)
  .container
    max-width: 88%
  .parallax
    &-wrapper
      margin: 0 12px
    &-title
      font-size: 18px
      line-height: 30px
  .articles
    &__grid
      grid-template-columns: repeat(1, 1fr)
    &-one
      grid-area: 1 / 1 / 3 / 2
    &__topic
      -webkit-line-clamp: 2
      width: 100%
    &-two
      grid-area: 5 / 1 / 7/ 2
      // &__image
      //   width: 576px
      // &__holder
      //   padding-bottom: 15px
      // &__title
      //   width: 235px
      //   font-size: 22px
      //   line-height: 31px
    &-three
      grid-area: 7 / 1 / 8 / 2
    &-four
      grid-area: 8 / 1 / 9 / 2
    &-five
      grid-area: 3 / 1 / 5 / 2
      // &__bg
      //   max-width: 100%
      //   width: 576px
      // &__image
      //   width: 576px
      &__title
        font-size: 19px
        line-height: 28px
      // &__topic
      //   margin-top: 110px
      &__author
        margin-top: 45px
    &-six
      grid-area: 9 / 1 / 10 / 2
    &-seven
      grid-area: 10 / 1 / 11 / 2
    &-eight
      grid-area: 13 / 1 / 14 / 2
      &__image
        top: 10px
      &__box
        padding-right: 33px
    &-nine
      grid-area: 11 / 1 / 13 / 2
    &-ten
      grid-area: 14 / 1 / 15 / 2
    &-data
      &--mt
        margin-top: 10px
  .footer
    &__newsletter-title
      font-size: 28px
      line-height: 40px
  //   &__input
  //     width: 281px
  //     display: block
  //     margin: 0 auto
  //   &__button
  //     position: relative
  //     top: 20px
  //   &__box
  //     display: flex
  //     flex-direction: column
  //     text-align: center
  .to-top
    bottom: 55px
  .modal
    &__dialog
      &--visible
        min-width: 280px
  .invalid
    font-size: 11px
@media (max-width: 464px)
  .articles
    &__title-one
      font-size: 20px
      line-height: 25px
    &__text-one
      margin-bottom: 80px
    &__author
      align-items: flex-start
      padding-right: 15px
      padding-left: 20px
    &__topic
      font-size: 13px
    &__comment
      top: 2px
      right: 35px
      &-image
        top: 2px
        right: 60px
@media (max-width: 401px)
  .articles
    &__text-one
      margin-bottom: 65px
@media ( max-width: 380px)
  .aside
    &__topic
      max-width: 160px
  .articles
    &__title-one
      -webkit-line-clamp: 3
    &__text-one
      margin-bottom: 30px
      -webkit-line-clamp: 4
    &-five
      &__title
        font-size: 16px
        line-height: 25px
  .hot
    &__slider
      &-title
        font-size: 24px
  .news
    &__title
      font-size: 18px
@media (hover: hover) and (pointer: fine)
  .navbar
    &-menu
      &__link
        position: relative
        &:after
          content: ""
          height: 2px
          background: $blue
          position: absolute
          left: 0
          right: 0
          bottom: -6px
          opacity: 0
          transform-origin: left center
          transition: all 250ms cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s
          transform: scaleX(0)
        &:hover:after
          transform: scaleX(1)
          opacity: 1
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
  .content
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
  .aside
    &__topic
      &:hover
        color: $blue
  .parallax
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
  .articles
    &-eight
      &__download
        &:hover
          color: $line
    &-nine
      &__teg
        &-item
          &:hover
            color: $bluegreen
            border: 1px solid $bluegreen
    &-ten
      &__social
        &-image
          &>img:hover
            transform: scale(1.1)
            opacity: 0.8
  .hot
    &__slider-button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
    &__button-two
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
    &__articles
      &:hover
        background: $line
  .articles
    &-hover
      &:hover
        transform: scale(0.98)
  .news
    &__box
      &:hover
        &>img
          opacity: 0.6

  .footer
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
    &-block__link, &__link
      &:hover
        color: $blue
    &__social
      &-image
        &:hover
          transform: scale(0.9)
          opacity: 0.7
  .modal
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
  .send
    &__button
      background-image: linear-gradient(to left, transparent, transparent 50%, #132891 50%, #094b79, #00d4ff)
      background-position: 100% 0
      background-size: 200% 100%
      transition: all .25s ease-in
      &:hover
        background-position: 0 0
        box-shadow: 0 4px 15px 0 rgba(19,40,145, 0.75)
