*
  box-sizing: border-box
@font-face
  // font-family: "lato_light"
  // src: url('../fonts/lato_light.woff') format("woff")
  // src: url('../fonts/lato_light.woff2') format("woff2")
  font-family: "Lato-Regular"
  src: url('../fonts/Lato-Regular.woff') format("woff")
  src: url('../fonts/Lato-Regular.woff2') format("woff2")
  font-weight: normal
  font-style: normal
  font-display: swap

@font-face
  font-family: "Lato-Black"
  src: url('../fonts/Lato-Black.woff') format("woff")
  src: url('../fonts/Lato-Black.woff2') format("woff2")
  font-weight: bold
  font-style: normal
  font-display: swap

body
  font-family: "Lato-Regular", sans-serif
  // font-family: "Lato-Black", sans-serif

  background-color: $secondary
  color: $text-color
.container
  max-width: 1140px
  overflow: hidden
  margin: auto
img
  max-width: 100%
a
  cursor: pointer
  text-decoration: none

button
  cursor: pointer
  outline: none
  border: none

input, textarea
  color: $text-color
  outline: none

  &::placeholder
    color: $line
  &:-ms-input-placeholder
    color: $line
  &::-webkit-input-placeholder
    color: $line
  &::-moz-placeholder
    color: $line
    opacity: 1
.fixed
  display: -webkit-box
  -moz-box-orient: vertical
  -webkit-box-orient: vertical
  overflow: hidden
  text-overflow: ellipsis
.article
  font-family: "Lato-Black", sans-serif
  font-weight: 900
  font-size: 12px
  line-height: 15px
  letter-spacing: 0.5px
  text-transform: uppercase
  &--bluegreen
    color: $bluegreen
  &--gray
    color: $gray
  &--purple
    color: $purple
  &--orange
    color: $orange
  &--green
    color: $green
  &--red
    color: $red
.text
  font-family: "Lato-Regular", sans-serif
  font-weight: 400
  font-size: 14px
  line-height: 20px
  color: $text-color
.subtitle
  font-family: "Lato-Black", sans-serif
  font-weight: 900
  font-size: 14px
  line-height: 20px
.title
  font-family: 'Roboto Slab', serif
  font-weight: 700
  font-size: 16px
  line-height: 25px
  color: $dark
.data, .number
  font-family: "Lato-Regular", sans-serif
  font-weight: 400
  font-size: 12px
  line-height: 15px
  color: $lightgray
.to-top
  position: fixed
  bottom: 105px
  right: 40px
  box-shadow: 0 1px 120px rgba(161, 161, 161, 0.08)
  border: 1px solid $blue
  background-color: $light
  padding: 13px 18px
  border-radius: 10px
  z-index: 99
.failed
  color: $red
  border-bottom: 1px solid $red
  font-size: 12px
label.failed
  position: absolute
  margin-top: 42px
  &__message
    margin-top: 130px !important
