*
  box-sizing: border-box
@font-face
  font-family: "Lato"
  src: url('../fonts/Lato.woff') format("woff")
  src: url('../fonts/Lato.woff2') format("woff2")
  font-weight: normal
  font-style: normal
  font-display: swap

body
  font-family: "Lato", sans-serif
  background-color: $secondary
  color: $text-color
.container
  max-width: 1140px
  margin: auto
img
  max-width: 100%

button
  cursor: pointer
  outline: none

input, textarea
  color: $text-color

  &::placeholder
    color: #939699
  &:-ms-input-placeholder
    color: #939699
  &::-webkit-input-placeholder
    color: #939699
  &::-moz-placeholder
    color: #939699
    opacity: 1
