.navbar
  background-color: $dark

  &-box
    display: flex
    align-items: center
    justify-content: space-between
    padding-top: 15px
    padding-bottom: 15px

    &__menu-button
      display: none
  &-menu
    display: contents
  &__button
    min-height: 39px
    background-color: #656B70
    color: $light
    border-radius: 10px
    font-weight: 400
    font-size: 14px
    line-height: 20px
    text-transform: uppercase
    padding: 9px 65px
    border: none
    color: $light
    text-align: center

  &-menu
    &__block
      list-style-type: none
      display: flex
      color: $light
      padding-left: 0
      margin: 0

    &__item
      margin-left: 15px
      margin-right: 15px
      &:first-child
        margin-left: 0px
      &:last-child
        margin-right: 0px

    &__link
      color: inherit
      text-decoration: none
      font-size: 14px
      line-height: 20px

    &__item
      &--mobile
        &--visible
          display: none
.logo
  width: 163px
// .navbar
//   &__button
//     &--mobile
//       &--visible
//         display: none
